body {
	font-family: 'Noto Serif', serif;
	border: #647580;
	padding: 2.5%;
}	
h1 {
	color: #3e6680;
	text-shadow: 0.01em 0.01em 0.01em #424331;
	font-size: 3.5em;
	text-align: left;
	line-height: 50%;
	margin: 0;	
}

h2, h3 {
	color: #63a4cc;
	text-shadow: 0.02em 0.02em 0.02em #647580;
	font-size: 2.5em;
	line-height: 50%;
}

h4, h5 {
	color: #63a4cc;
	font-size: 2em;
	line-height: 50%;
	text-shadow: 0.02em 0.02em 0.02em #647580;
	padding: 0.25%;
}

p {
	font-size: 1em;
	text-align: left;
	border-bottom: 0.05em solid #7ccdff; 
	padding: 0.25%;
}

/* Table information */
table, th, td {
	border: 1px solid #7ccdff;
}

table {
	width: 100%;
	margin: auto;
}

th {
	border: none;
	text-align: center;
	height: 50px;
}

td {
	text-align: left;
	padding: 0.5em;
}	
/* Table Ends */

footer {
	text-align: center;
	border: 0.2em solid #000;
	margin: auto;
}
