#home {
	z-index: -999;
  	min-height: 100%;
  	min-width: 59.375%;
  	width: 100%;
  	height: 100%;
  	position: fixed;
  	top: 0;
  	left: 0;
  	opacity: 0.5;
}

body {
line-height:1;
color:#000;
font: 1.5em;
}

#logo {
margin: 3em;
float: left;
}

/* Navigation Beginning */
nav  {
	display: block;
	width: 100%;
	overflow: hidden;
	clear: both;
}

nav ul {
	margin: 3em;
	padding: .4em;
	float: left;
	list-style: none;
	background: #422b00;
	background: rgba(0,0,0,.2);
	-moz-border-radius: .5em;
	-webkit-border-radius: .5em;
	border-radius: .5em;    
	-moz-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.2), 0 2px 1px rgba(0,0,0,.8) inset; 
}

nav li {
	clear: both;
	display: inline;
}

nav a {
	float:left;
	padding: 1em 3.2em;
	text-decoration: none;
	color: #71a856;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	font: bold 1.25em 'Libre Baskerville', serif;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-width: 1px;
	border-style: solid;
	border-color: #fff #ccc #999 #eee;
	background: #c1c1c1;
	background: -moz-linear-gradient(#f5f5f5, #c1c1c1);
	background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#c1c1c1));
	background: -webkit-linear-gradient(#f5f5f5, #c1c1c1);
	background: -o-linear-gradient(#f5f5f5, #c1c1c1);
	background: -ms-linear-gradient(#f5f5f5, #c1c1c1);
	background: linear-gradient(#f5f5f5, #c1c1c1);            
 }
 
nav a:hover, nav a:focus {
	outline: 0;
	color: #ebe2d1;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	background: #8f6f27;
	background: -moz-linear-gradient(#8f6f27, #235707);
	background: -webkit-gradient(linear, left top, left bottom, from(#fac754), to(#235707));
	background: -webkit-linear-gradient(#fac754, #235707);
	background: -o-linear-gradient(#fac754, #235707);
	background: -ms-linear-gradient(#fac754, #235707);
	background: linear-gradient(#fac754, #235707);
}

nav a:active {
	-moz-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
	box-shadow: 0 0 2px 2px rgba(0,0,0,.3) inset;
}
 
nav li:first-child a {
	border-left: 0;
	-moz-border-radius: 4px 0 0 4px;
	-webkit-border-radius: 4px 0 0 4px;
	border-radius: 4px 0 0 4px;            
}
/* Navigation Ending */
  
#image {
clear: left;
margin: 3em;
}
#links {
margin: 10px 10px 10px 10px;
float: left;
}

select {
font-family: 'Libre Baskerville', serif;
font-size:1em;
}

#tagline {
margin: 54px 882px 90px 468px;
text-align: center;
float: left;
}

strong {
font-weight: bold;
}

legend {
font-size: 18pt;
}

/* Table Date */
th {
text-align: left;
color: #422b00;
padding: 0.3em;
border-radius: 10px;
font-weight: bolder;
clear: both;
display: block;
}

table {
border-collapse: collapse;
}

td {
border-collapse: collapse;
}

table .td {
text-align: center;
display: block;
}

/* End of Table Data */

fieldset {
border: solid 0.05em #71a856;
margin: 18px;
padding: 10px;
float: left;
}

fieldset .intro, .why, .working { 
margin: 10px;
color: #422b00;
background-color: #ebe2d1;
box-shadow: 2px 2px 2px #422b00;
opacity: 0.8;
float: left;
}

fieldset .contactinfo {
margin: 0.04em;
padding: 1em;
clear: both;
}

.address {
background-color: #fff;
margin: 0.04em;
padding: 1em;
box-shadow: 2px 2px 2px #8f6f27;
opacity: 0.8;
}

.hours {
background-color: #fff;
text-align: left;
box-shadow: 2px 2px 2px #8f6f27;
opacity: 0.8;
padding: 2em;
float: left;
}

h1 {
font: bold 2em 'Libre Baskerville', serif;
margin: 6%;
padding: 3%;
float: left;
}

h2 {
font-family: 'Libre Baskerville', serif;
font-weight: bold;
box-shadow: 2px 2px 2px #71a856;
}

h4 {
font-family: 'Libre Baskervill', serif;
font-weight: bold;
text-align: center;
}

/*map image */
#map {
text-align: left;
float: left;
}

#medical {
	float: left;
}

#welcome {
	font-family: 'Libre Baskerville', serif;
	clear: both;
	margin: 28px 28px 1420px 50px;
	padding: 1em;
	border: 1em #422b00; 
	background: #8f6f27;
}

blockquote {
	font-style: italic;
}

ul,li {
list-style: none;
text-align: left;
display: block;
}

a {
color:#235707;
}

p {
	font-family: 'Libre Baskerville', serif;
	color: #422b00;
}

.center {
text-align: center;
}

/*Form Information */

#form-wrapper {
    margin: 0 auto;
    padding: 20px;    
    position: relative;
    border: 1px solid #235707;
    
    background-color: #000;
    
	background-image: -moz-repeating-linear-gradient(135deg, rgb(114,168,86) 27%, rgb(35,87,7) 64%);							
	background-image: -webkit-repeating-linear-gradient(135deg, rgb(114,168,86) 27%, rgb(35,87,7) 64%);   
 	background-image: -o-repeating-linear-gradient(135deg, rgb(114,168,86) 27%, rgb(35,87,7) 64%);
     
    background-image: -ms-repeating-linear-gradient(135deg, rgb(114,168,86) 27%, rgb(35,87,7) 64%);
    background-image: repeating-linear-gradient(135deg, rgb(114,168,86) 27%, rgb(35,87,7) 64%);     
}

#form-wrapper:before, #form-wrapper:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width:300px;
    background: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
    -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    -ms-transform: rotate(-3deg);
    transform: rotate(-3deg);
}

#form-wrapper:after
{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    right: 10px;
    left: auto;
}
#form-wrapper .button
{
    float: right;
    margin: 10px 0 10px 10px;
    padding: 7px 15px;
    cursor: pointer;   
    color: #422b00;
    font: bold 13px Tahoma, Verdana, Arial;
    text-transform: uppercase;
    overflow: visible; /* IE6/7 fix */
    border: 0;  
   
    background-color: #71a856;
    background-image: -moz-linear-gradient(#235707, #71a856);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#235707), to(#71a856));    
    background-image: -webkit-linear-gradient(#235707, #71a856);
    background-image: -o-linear-gradient(#235707, #71a856);
    background-image: -ms-linear-gradient(#235707, #71a856);
    background-image: linear-gradient(#235707, #71a856);

    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 3px 0 rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 3px 0 rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5), 0 3px 0 rgba(0, 0, 0, 0.7);
}

#form-wrapper .button:hover
{
    background-color: #8f6f27;
    background-image: -moz-linear-gradient(#ebe2d1, #8f6f27);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ebe2d1), to(#8f6f27));      
    background-image: -webkit-linear-gradient(#ebe2d1, #8f6f27);
    background-image: -o-linear-gradient(#ebe2d1, #8f6f27);
    background-image: -ms-linear-gradient(#ebe2d1, #8f6f27);
    background-image: linear-gradient(#ebe2d1, #8f6f27);
}

#form-wrapper .button:active
{
    background: #235707;
    position: relative;
    top: 2px;
    
    -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.7) inset; 
}
/*End of Form Data */

#contact {
clear: both;
}

#pet_portal_link {
color: #422b00;
}

#hospital-info {
font: 'Libre Baskerville', serif;
}

/* End of Content */
footer {
		text-shadow: 0.25em 0.25em 0.25em #424331;
		text-align: center;
		padding: 0.8em;
		background-color: #ebe2d1;
		clear: both;
}


/* Media Query -------------------------------------------------------------------------/*
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
/* Styles */
#image {
	margin-top: 2em;
	margin-left: 3em;
	max-width: 100%;
	float: left;
}

#links {
margin-right: 0.5em;
margin-left: 0.3em;
margin-top: 0.5%;
padding: 0.5%;
float: right;
}
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) {
/* Styles */
#logo {
margin: 1em 0 1em 2em;
clear: left;
}
#image {
	margin-left: 2em;
	margin-bottom: 0.5em;
	max-width: 75%;
	padding: 1em;
}
#links {
margin-left: 0.3em;
margin-top: 0.5%;
padding: 0.5%;
float: left;
}
h1 {
font-family: 'Libre Baskerville', serif;
font-weight: bold;
margin: 0.01em 0 0.01em 1.3em;
clear:both;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
/* Styles */

#home {
    z-index: -999;
  min-height: 100%;
  min-width: 59.375%;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
#image {
	margin: 0 auto;
	max-width: 100%;
	padding: 1.875%;
	display: none;
} 
}



