
select {
font-family: 'Libre Baskerville', serif;
font-size:1em;
}

#sitebranding {
margin: auto;
text-align: center;
float: left;
}

#tagline {
margin-bottom: 24px;
text-align: center;
float: left;
}

strong {
font-weight: bold;
float: none;
}

th {
font-weight: bold;
float: left;
}

h1 {
font-family: 'Libre Baskerville', serif;
font-weight: bold;
margin-top: 
float: left;
}

h2,h3,h4 {
font-weight:400;

}

img {
float: left;
}

fieldset {
border:solid 0.05em #71a856;
margin: 10px;
padding: 10px;
}

body {
line-height:1;
background:#FFF;
color:#000;

}

ul,ol,li {
list-style: none;
text-align: center;
display: inline;

}

a {
color:#422b00;

}
